/* Sets the box size element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets the background color of the entire body */
body {
    background-color: #d9dcd6;
}
/* Sets the style for the header of the page */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Sets the style for the h1 headings in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets the style for the letters "seo" in the h1 heading in the header */
header h1 .seo {
    color: #d9dcd6;
}
/* Sets the style for the unordered list in the header */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Sets the style for the list in the header */
header div ul {
    list-style-type: none;
}
/* Sets the style for the text of the list in the header */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Sets the style for all links in the body */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Sets the style for the paragraph text */
p {
    font-size: 16px;
}
/* Sets the style for the image between the header and sections */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Sets the style for the small pictures in the service divs. */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* Sets the style for the services section */
.services-section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets the style for the service divisions. */
.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Sets the style for the pictures in the service divisions. */
.service img {
    max-height: 200px;
}
/* Sets the style for all h2 headings except in the footer */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Sets the style for the benefits section */
.benefits-section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Sets the style for the benefit divisions */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Sets the style for all h3 headings */
h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Sets the style for the images in the benefit divisions */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Sets the style for the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Sets the style for the h2 heading in the footer */
footer h2 {
    font-size: 20px;
}
